<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="../../js/vue.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="books.length > 0">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>书籍名称</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(items, index) in books">
                        <td>{{items.id}}</td>
                        <td>{{items.name}}</td>
                        <td>{{items.data}}</td>
                        <td>{{items.price | showPrice}}</td>
                        <td>
                            <button @click="increment(index)">+</button> {{items.count}}
                            <button @click="decrement(index)" :disabled="!items.count">-</button>
                        </td>
                        <td><button @click="removeItem(index)">移除</button></td>
                    </tr>
                </tbody>
            </table>
            <h1>总价格：{{totalPrice | showPrice}}</h1>
        </div>
        <h1 v-else>购物车为空</h1>

    </div>
</body>

</html>